@charset 'UTF-8';
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html,body {
    width: 100%;
    overflow-x: hidden;
}
body,ul,li,p{margin:0;padding:0;}
body{font-family:'-apple-system-font','Helvetica Neue','Helvetica','sans-serif';background:#f8f8f8;}
li{list-style-type:none;}
.fl{float:left!important;}
.fr{float:right!important;}
.c1{color:#6cc!important;}
.c2{color:#ffc426!important;}
.c9{color:#999!important;}
.f12{font-size:12px!important;}
.cells{position:relative;overflow:hidden;margin-top:10px;background:#fff;line-height: 1.5}
.cell{position:relative;overflow:hidden;padding:10px 15px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.bdt,.bdtb,.bdl,.bdb{position: relative}
.bdt:before,.bdb:after,.bdtb:before,.bdtb:after{position:absolute;right:0;left:0;height:1px;content:'';-webkit-transform:scaleY(.5);-moz-transform:scaleY(.5);-ms-transform:scaleY(.5);transform:scaleY(.5);color:#ddd;}
.bdt:before,.bdtb:before{top:0;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;border-top:1px solid #ddd;}
.bdb:after,.bdtb:after{bottom:0;-webkit-transform-origin:0 100%;-moz-transform-origin:0 100%;-ms-transform-origin:0 100%;transform-origin:0 100%;border-bottom:1px solid #ddd;}
.bdtb .bdt:before{left:15px;}
.cells .cell{display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex}
.cells .cell__hd{float:left;margin-right:5px;}
.cells .cell__bd{-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-ms-flex:1;flex:1;}
.cells .cell__ft{text-align: right;color:#999;}
.padd{margin-top:10px;padding:0 15px;}
.grids{position:relative;overflow:hidden;}
.grids:before{position:absolute;top:0;right:0;left:0;height:1px;content:' ';-webkit-transform:scaleY(.5);-moz-transform:scaleY(.5);-ms-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;color:#ddd;border-top:1px solid #ddd;}
.grids:after{position:absolute;top:0;bottom:0;left:0;width:1px;content:' ';-webkit-transform:scaleX(.5);-moz-transform:scaleX(.5);-ms-transform:scaleX(.5);transform:scaleX(.5);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;color:#ddd;border-left:1px solid #ddd;}
.grid{position:relative;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:33.33333333%;padding:20px 10px;text-align: center}
.grid:before{position:absolute;top:0;right:0;bottom:0;width:1px;content:' ';-webkit-transform:scaleX(.5);-moz-transform:scaleX(.5);-ms-transform:scaleX(.5);transform:scaleX(.5);-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0;color:#ddd;border-right:1px solid #ddd;}
.grid:after{position:absolute;right:0;bottom:0;left:0;height:1px;content:' ';-webkit-transform:scaleY(.5);-moz-transform:scaleY(.5);-ms-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:0 100%;-moz-transform-origin:0 100%;-ms-transform-origin:0 100%;transform-origin:0 100%;color:#ddd;border-bottom:1px solid #ddd;}
.grid_icon {
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
.grid_icon img {
    display: block;
    width: 100%;
    height: 100%;
}
.grid_label {
    display: block;
    text-align: center;
    color: #000000;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.grid_icon + .grid_label {
    margin-top: 5px;
}
.rotate {
    -webkit-animation: rotate-icon 2s infinite linear;
    -moz-animation: rotate-icon 2s infinite linear;
         animation: rotate-icon 2s infinite linear;
}
@-webkit-keyframes rotate-icon {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-moz-keyframes rotate-icon {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
             transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
             transform: rotate(359deg);
    }
}

@keyframes rotate-icon {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
             transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
             transform: rotate(359deg);
    }
}