:local(.container) {
    :local(.titleBar) {
        background: #6cc;
		height: 44px;
		line-height: 44px;
		text-align: center;
		color: #fff;
    }
    :local(.grids) {
        position: relative;
        overflow: hidden;
        :local(.grid) {
            float: left;
            display: block;
            width: 25%;
            box-sizing: border-box;
            padding: 20px 10px;
            text-align: center;
            text-decoration: none;
            :local(.grid_icon) {
                width: 24px;
                height: 24px;
                margin: 0 auto;
                :local(img) {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            :local(.grid_label) {
                font-size: 12px;
                color: #999;
            }
        }
    }
}