:local(.grid) {
    float: left;
    display: block;
    width: 25%;
    box-sizing: border-box;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    &:nth-child(4n+4) {
        border-right: none
    }
    :local(.grid_icon) {
        width: 24px;
        height: 24px;
        margin: 0 auto;
         :local(img) {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    :local(.grid_label) {
        font-size: 12px;
        color: #999;
    }
}